{% extends 'base.html.twig' %}

{% block title %}Ecommerce - My order{% endblock %}

{% block content %}
    <h1>My order - {{ order.reference }}</h1>
    <hr>
    <div>
        <div class="mt-4 mb-4">
            <a href="{{ path('account') }}">Back</a>
        </div>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Order N° {{ order.reference }}</h5>
                    <p class="card-text">{{ order.deliuery|raw }}</p>
                    <a href="{{ path('account_order') }}" class="btn btn-primary">Back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}