{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}
	<div class="row d-flex justify-content-center flex-lg-nowrap fa-scroll">
		{% for p in bestProducts %}
			<div class="col-lg-4">
				<img width="140" height="140" class="bd-placeholder-img rounded-circle" src="/uploads/{{ p.image }}" alt="clothe">

				<h3>{{ p.name }}</h3>
				<p>{{ p.subtitle }}.</p>
				<p>
					<a class="btn btn-secondary" href="{{ path('product', { 'slug': p.slug }) }}">View details</a>
				</p>
			</div>
		{% endfor %}
	</div>

	<!-- START THE FEATURETTES -->
	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="mt-lg-5">First featurette heading.
				<span class="text-muted">It’ll blow your mind.</span>
			</h2>
			<p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
		</div>
		<div class="col-md-5">
			<figure style="width: 450px;" class="figure">
				<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto w-100" src="{{ asset('assets/img/clothes-2.jpg') }}" alt="clothes">
			</figure>
		</div>
	</div>
	<hr class="my-lg-5">
	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="mt-lg-5">Oh yeah, it’s that good.
				<span class="text-muted">See for yourself.</span>
			</h2>
			<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
		</div>
		<div class="col-md-5 order-md-1">
			<div class="col-md-5">
				<figure style="width: 400px;" class="figure">
					<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto w-100"  src="{{ asset('assets/img/clothes-1.jpg') }}" alt="clothes">
				</figure>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">
{% endblock %}