<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.88.1">
		<title>{% block title %}Shop online{% endblock %}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/carousel.rtl.css') }}" rel="stylesheet">
		<link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
	</head>
	<body style="position: relative; min-height: 100vh;">
		<header>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('home') }}">
            Ecommerce
          </a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse d-flex justify-content-between navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('products') }}">Products</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">About us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Contact</a>
							</li>
						</ul>
						<div class="d-flex navbar_custom">
							{% if app.user %}
								<a class="pr-2" href="{{ path('account') }}">My account <strong>({{ app.user.firstname }})</strong></a>
								<a class="pr-2" href="{{ path('app_logout') }}">Logout</a>

							{% else %}
								<a class="pr-2" href="{{ path('app_login') }}">Connexion</a>
								<a class="pr-2" href="{{ path('register') }}">Inscription</a>
							{% endif %}
							<a href="{{ path('order') }}">
								<i class="fas fa-shopping-cart"></i>
							</a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		<main>
			{% if block('carousel') is defined %}
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<div class="carousel-header d-flex flex-column text-center">
						<h1>Ecommerce Marengo</h1>
						<div>
							<h3>Make your shopping without jouz</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta natus nemo numquam omnis quos saepe sint sunt suscipit totam vel. Blanditiis laborum maiores, neque nesciunt quam quis quod rerum velit.z</p>
						</div>
					</div>
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="{{ asset('assets/img/alyssa.jpg') }}" alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="{{ asset('assets/img/lucas.jpg') }}" alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block w-100" src="{{ asset('assets/img/angela.jpg') }}" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			{% endif %}

			<!-- Marketing messaging and featurettes
			  ================================================== -->
			<!-- Wrap the rest of the page in another container to center all the content. -->

			<div class="container marketing {% if block('carousel') is not defined %}mt-4{% endif %}">
        		{% block content %}{% endblock %}
			</div>

			<footer class="footer_custom">
				<p>&copy; 2017–2021 Company, Inc. &middot;
					<a href="#">Privacy</a>
					&middot;
					<a href="#">Terms</a>
				</p>
			</footer>
		</main>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>
